@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,300&family=Press+Start+2P&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

.login-container {
  width: 550px;
  border-radius: 10px;
  padding: 30px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#login-heading {
  font-size: 24px;
  color: #000000;
}

#error {
  position: absolute;
  background: #f2dede;
  color: #a94442;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  margin: -20px auto;
  text-align: center;
  font-size: 12px;
}
.input-box {
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e9f1;
  border-radius: 5px;
  color: #292929;
  margin-bottom: 15px;
}


.input-box input {
  border: none;
  outline: none;
  font-size: 15px;
}

#login-btn {
  width: 264px;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  background: #66bb6a;
  border: 1px solid #e8e9f1;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
}

#login-btn:hover {
  transition: background 0.5s ease-in-out;
  background: #5ca95c;
}


#btn-logout {
  width: 210px;
  padding: 10px;
  background: #dc3545;
  border: 1px solid #e8e9f1;
  border-radius: 5px;
  cursor: pointer;
}

#btn-logout a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#logout-msg {
  position: absolute;
  background: #ffc107;
  color: #000;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  margin: -20px auto;
  text-align: center;
  font-size: 12px;
}

#login-success {
  background: #218838;
  color: #fff;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  left: 45%;
}

@media (max-width: 576px) {
  .login-container {
    width: 70vw;
    text-align: center;
    box-shadow: none;
    overflow: hidden;
  }
  .input-box {
    width: 70vw;
  }
  #login-btn {
    width: 70vw;
    font-size: 16px;
    font-weight: 500;
  }
  #btn-logout {
    width: 70vw;
  }
  #logout-msg {
    width: 70vw;
  }
  #login-success {
    width: 70vw;
  }


}