@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background-color: #eee;
  font-size: 18px;
}

input {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

input[type="file"] {
  border: none;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
} */
.update {
  position: absolute;
  top: 50px;
  left: 600px;
  padding: 50px;
  transform: scale(0);
  opacity: 0;
  animation: scaleAndFadeIn 1s ease-in-out forwards;
}

.update h1 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

@keyframes scaleAndFadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#cross {
  position: absolute;
  top: 152px;
  right: 60px;
  padding: 10px;
  width: 40px;
  cursor: pointer;
}
.fa-rectangle-xmark {
  font-size: 25px;
  color: gray;
}

.fa-rectangle-xmark:hover {
  color: black;
}

.update form {
  width: 500px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

label {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
}
input[type="submit"]:hover {
  background-color: #45a049;
  cursor: pointer;
}

.profile{
  width: 1200px;
  height: 70vh;
  margin: 60px auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: flex;
  justify-content: first baseline;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.add-user{
  width: 1200px;
  height: 70vh;
  margin: 60px auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 100px;
  display: flex;
  justify-content: center;
}

.add-user h1{
  text-align: center;
  margin-bottom: 40px;
}

.profile .sidebar {
  width: 300px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar img {
  background-color: white;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  padding: 10px;
}

.sidebar ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.sidebar ul li:hover {
  background-color: #ccc;
}

.sidebar ul li:last-child {
  margin-top: 65%;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.sidebar ul li a i {
  margin-right: 15px;
}

.sidebar .navigation .active {
  background-color: #ccc;
}

.details {
  background-color: white;
  width: 900px;
  padding: 100px;
  border-radius: 0px 5px 5px 0px;
}

.details input {
  width: 350px;
  margin-bottom: 10px;
}

.details input[type="submit"] {
  width: 200px;
  margin-left: 200px;
  margin-top: 50px;
}

#error {
  color: red;
  font-size: 15px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.container h3 {
  position: absolute;
  top: 110px;
  left: 50%;
}

/* Responsive CSS */
@media (max-width: 576px) {
  .container{
    width: 100vw;
    background-color: brown !important;
  }
  .container h3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 25%;
    padding-top: 10px;
  }
  .profile{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: none;
  }
  .profile .sidebar {
    width: 100%;
    height: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .sidebar ul li:last-child {
    margin-top: 0;
  }
  .details {
    width: 100%;
    border-radius: 0;
  }
  .details input {
    width: 100%;
  }
  .details input[type="submit"] {
    width: 100%;
    margin-left: 0;
  }
  .update {
    position: absolute;
    top: 50px;
    left: 0px;
    padding: 10px;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    animation: scaleAndFadeIn 1s ease-in-out forwards;
  }
  .update form {
    width: 95%;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px 10px;
  }
  .update h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  #cross {
    position: absolute;
    top: 110px;
    right: 30px;
    padding: 10px;
    width: 40px;
    cursor: pointer;
  }
  .fa-rectangle-xmark {
    font-size: 25px;
    color: gray;
  }
  .img-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 36%;
    margin-bottom: 80px;
  }
  .img-container img{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
  }
  .profile .sidebar {
    width: 100%;
    padding: 0;
  }
  .profile{
    position: absolute;
  }
  .navigation{
    display: flex;
    justify-content: space-around;
  }
}